.Dashboard__main-container {
    margin: auto;
    width: 100%;
}

.container {
    display: flex;
    max-width: 1366px;
    min-width: 1366px;
    margin: 0 auto 0;
    background: #ffffff;
    min-height: 100%;
}

.left-section {
    flex: 0 1 360px;
    border-right: 1px solid #efeeed;
    position: inherit;
}

.total {
    font-size: 24px;
}

.total span {
    font-size: 13px;
}

.total h1 {
    margin-bottom: 0;
}